@tailwind base;

@tailwind components;

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url(../fonts/Helvetica.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Brandon';
    src: local('Brandon'), url(../fonts/Brandon.otf) format('otf');
  }

@tailwind utilities;
